<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{product.title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">
    <div class="container">
        <h1 class="my-4">{{product.title}}</h1>

        <div class="row">
            <div class="col-md-6">
                {{#if product.thumbnails.length}}
                <img src="{{product.thumbnails.[0]}}" class="img-fluid" alt="{{product.title}}">
                {{/if}}
            </div>
            <div class="col-md-6">
                <h3>Detalles del producto</h3>
                <p>{{product.description}}</p>
                <p><strong>Precio: </strong>${{product.price}}</p>
                <p><strong>Stock: </strong>{{product.stock}}</p>
                <p><strong>Categoría: </strong>{{product.category}}</p>
                <div class="d-flex">
                    <button class="btn btn-success me-2 add-to-cart" data-id="{{product._id}}"
                        data-cart-id="{{cartId}}">Agregar al carrito</button>
                    <a href="/products" class="btn btn-secondary">Volver al inicio</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        const cartId = '{{cartId}}';
        sessionStorage.setItem('cartId', cartId);

        document.querySelector('.add-to-cart').addEventListener('click', function () {
            const productId = this.getAttribute('data-id');
            const cartId = sessionStorage.getItem('cartId');

            fetch(`/api/carts/${cartId}/product/${productId}`, {
                method: 'POST'
            })
            .then(response => response.text())
            .then(data => {
                alert(`Producto ${productId} agregado al carrito`);
            })
            .catch(error => console.error('Error:', error));
        });
    </script>
</body>

</html>